@media (prefers-color-scheme: dark){
    :root {
        --body-bg: #2b3035;
        /* --main-bg: #707a84; */
        --main-bg: #2b3035;
        --hover-color: #535b64;
        --text-color: #fff;
        --fill-icons: 0;
    }
}

@media (prefers-color-scheme: light){
    :root {
        --body-bg: #f8f9fa;
        --main-bg: #f8f9fa;
        --hover-color: #c8dff6;
        --text-color: #000;
        --fill-icons: 1
    }
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg);

    display: grid;
    /* position: relative; */
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10fr 1fr;

    width: 100vw;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;

    user-select: none;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' var(--fill-icons),
    'wght' 300,
    'GRAD' 200
}

.scrollbarhidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbarhidden::-webkit-scrollbar {
    display: none;
}

#sidebar {
    display: grid;
    grid-template-rows: 3fr 1fr;
    border-right: #f8f9fa 2px solid;
    min-width: 0;
    min-height: 0;
}

#photos {
    margin: 0;
    padding: 15px;
    overflow-y: scroll;
}

.big-text {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    padding-bottom: 10px;
}

#dnd {
    /* width: 100%;
    height: 100%; */
    height: calc(100% - 20px);
    border: #f8f9fa dashed 6px;
    border-radius: 12px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.bigicon {
    font-size: 67px;
    padding-bottom: 15px;
}

#dndor {
    padding: 5px;
}

.photoblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
    min-height: 0;
    min-width: 0;
}

.photoblock:hover {
    background-color: var(--hover-color);
    transition: background-color 1s;
    cursor: pointer;
}

.photoblock.selected {
    background-color: var(--hover-color);
}

.photoblock img {
    width: 100%;
    border-radius: 12px;
    grid-row: 1/-1;
}

.photoblock span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#controls {
    border-top: #f8f9fa 2px solid;
    margin: 0;
    padding: 10px;
}

.control {
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.control:hover {
    background-color: var(--hover-color);
    transition: background-color 1s;
    cursor: pointer;
}

.control * {
    font-size: 18px;
}

.control .material-symbols-rounded {
    font-size: 28px;
    vertical-align: middle;
    padding-right: 15px;
}

#editor-panel {
    overflow: hidden;
}

#editor-null {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#real-editor {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5fr 3fr;
}

#fields {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px;
    border-right: 2px solid #f8f9fa;
}

.editor-category {
    /* width: 100%; */
    min-height: 20vh;
    border: 3px #f8f9fa solid;
    border-radius: 12px;
    padding: 15px;
}

.editor-category-titles {
    text-decoration: underline;
    font-size: 20px;
    padding-bottom: 10px;
    grid-column: 1/-1;
}

#basic-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.text-field {
    position: relative;
    margin-bottom: 10px;
    place-self: center;
}

.text-field input {
    outline: none;
    border: none;
    border-bottom: white 2px solid;
    /* border-radius: 5px; */
    padding: 9px 0px;
    margin-top: 0;
    width: 100%;
    font-size: 100%;
    color: white;
    background-color: transparent;
}

.placeholder {
    position: absolute;
    margin: 17px 0;
    color:  white;
    display: flex;
    align-items: center;
    top: -6px;
    /* left: 17px; */
    transition: all 0.2s;
    transform-origin: 0% 0%;
    pointer-events: none;
}

.text-field input:focus + .placeholder,
.text-field input:not(:placeholder-shown) + .placeholder {
    transform: scale(0.8) translateY(-23px) translateX(0px);
    /* background-color: transparent; */
}

.text-field input:focus{
    color: white;
    border-color: white;
}

.text-field input:focus + .placeholder {
    color: white;
}

#basic-information ul {
    list-style-type: none;
}

#pathselection {
    border-left: 2px white solid;
    padding-left: 20px;
}

#pathselection > span {
    font-size: 110%;
}

#folder-selector {
    margin-left: 50px;
    padding: 0;
}

.icon {
    cursor: pointer;
}

.icon::marker {
    font-family: 'Material Symbols Rounded';
    color: white;
    display: inline-block;
}

.nested {
    display: none;
}

.folder-block {
    height: 25px;
    width: 100%;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.folder-block.selected-folder {
    background-color: var(--hover-color);
}

.folder-block span {
    font-size: 105%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.folder-block:hover {
    background-color: var(--hover-color);
    transition: background-color 1s;
    cursor: pointer;
}

.folder-options span {
    font-size: 150%;
}

.folder-block .create_folder {
    display: none;
}

.folder-block:hover .create_folder {
    display: inline;
}

input[name="newfoldername"] {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 105%;
    color: white;
}

input[name="newfoldername"]::placeholder {
    color: white;
}

#metadata {
    display: grid;
    grid-template-rows: auto auto auto;
}

#date-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 2px white solid;
}

#date-selector {
    padding-bottom: 10px;
}

.element-information span {
    font-size: small;
}

#location {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#existing-place {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

#existing-place .text-field {
    width: 40%;
}

#search-result-box {
    width: 80%;
    height: 140px;
    border: white solid 2px;
    border-radius: 7px;
    padding: 10px;
    overflow-y: scroll;
}

#search-result-box > div {
    width: 100%;
    height: 100%;
}

#no-search, #no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-null-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#results {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.place-search-result {
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 5px;
}

.place-search-result:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.selected-place {
    background-color: var(--hover-color);
    cursor: pointer;
}

#locationoptions-or {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 15px;
    font-size: medium;
    width: 75%;
}

#locationoptions-or::after, #locationoptions-or::before {
    content: "";
    align-self: center;
    border-top: white solid 1px;
}

#new-place {
    /* height: 50vh; */
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    height: 50vh;
    width: 90%;
    border-radius: 7px;
}

#place-creator {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    padding-top: 20px;
    grid-auto-flow: column;
}


#preview {
    padding: 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    overflow-y: scroll;
}

#preview img {
    height: auto;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

#bottom-bar {
    border-top: #f8f9fa 2px solid;
    grid-column: 1/-1;
}

.toast {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 12px;
}

.visible-toast {
    opacity: 1;
    animation: fadein 0.5s;
    z-index: 10;
}

.hidden-toast {
    opacity: 0;
    animation: fadeout 0.5s;
}

@keyframes fadein {
    from {
        right: 0;
        opacity: 0;
    }
    to {
        right: 15px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        right: 15px;
        opacity: 1;
    }
    to {
        right: 0;
        opacity: 0;
    }
}

.toast-icon {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast p {
    margin: 2px;
}

.toast-status {
    font-size: 115%;
}

.detailed-message {
    display: none;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

#error-toast {
    background-color: rgb(190, 0, 0);
}

#success-toast {
    background-color: rgb(0, 133, 0);
}

#info-toast {
    background-color: rgb(93, 172, 223);
}

#toast-hider {
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    height: 30vh;
    background-color: var(--body-bg);
}