@media (prefers-color-scheme: dark){
    :root {
        --body-bg: #2b3035;
        /* --main-bg: #707a84; */
        --main-bg: #2b3035;
        --hover-color: #535b64;
        --text-color: #fff;
        --fill-icons: 0;
    }
}

@media (prefers-color-scheme: light){
    :root {
        --body-bg: #f8f9fa;
        --main-bg: #f8f9fa;
        --hover-color: #c8dff6;
        --text-color: #000;
        --fill-icons: 1
    }
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg);
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10fr 1fr;

    min-width: 100%;
    min-height: 100%;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' var(--fill-icons),
    'wght' 300,
    'GRAD' 200
}

.scrollbarhidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbarhidden::-webkit-scrollbar {
    display: none;
}

#sidebar {
    display: grid;
    grid-template-rows: 3fr 1fr;
    border-right: #f8f9fa 2px solid;
    min-width: 0;
    min-height: 0;
}

#photos {
    margin: 0;
    padding: 10px;
    overflow-y: scroll;
}

#photos > span {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
}

.photoblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    padding: 15px;
    border-radius: 12px;
}

.photoblock:hover {
    background-color: var(--hover-color);
    transition: background-color 1s;
    cursor: pointer;
}

.photoblock img {
    width: 100%;
    border-radius: 12px;
    grid-row: 1/-1;
}

#controls {
    border-top: #f8f9fa 2px solid;
    margin: 0;
    padding: 10px;
}

.control {
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.control:hover {
    background-color: var(--hover-color);
    transition: background-color 1s;
    cursor: pointer;
}

.control * {
    font-size: 18px;
}

.control .material-symbols-rounded {
    font-size: 28px;
    vertical-align: middle;
    padding-right: 15px;
}


#editor-panel {

}

#bottom-bar {
    border-top: #f8f9fa 2px solid;
    grid-column: 1/-1;
}