html, body {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-bg);
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


form {
    border: 2px solid var(--border-color);
    border-radius: 7px;
    padding: 40px;
}



.text-field {
    position: relative;
    margin-bottom: 10px;
    place-self: center;
}

.text-field input {
    outline: none;
    border: none;
    border-bottom: var(--border-color) 2px solid;
    /* border-radius: 5px; */
    padding: 9px 0px;
    margin-top: 0;
    width: 100%;
    font-size: 100%;
    color: var(--text-color);
    background-color: transparent;
}

.placeholder {
    position: absolute;
    margin: 17px 0;
    color:  var(--text-color);
    display: flex;
    align-items: center;
    top: -6px;
    /* left: 17px; */
    transition: all 0.2s;
    transform-origin: 0% 0%;
    pointer-events: none;
}

.text-field input:focus + .placeholder,
.text-field input:not(:placeholder-shown) + .placeholder {
    transform: scale(0.8) translateY(-23px) translateX(0px);
    /* background-color: transparent; */
}

.text-field input:focus{
    color: var(--text-color);
    border-color: var(--selected-color);
}

.text-field input:focus + .placeholder {
    color: var(--text-color);
}

#submit-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

button[type='submit'] {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--selected-color);
    color: var(--text-color);
    outline: none;
    border: none;
    width: 50%;
    min-width: min-content;
}

button[type='submit']:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}