@keyframes fadein {
    from {
        right: 0;
        opacity: 0;
    }
    to {
        right: 15px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        right: 15px;
        opacity: 1;
    }
    to {
        right: 0;
        opacity: 0;
    }
}